<h3>MOST RECENT TOPIC</h3>

<% if recent %>
  <span class="upvote <%= add_style_to_upvoted(recent) %>">
	<%= link_to '^', upvote_path(recent), method: 'post', remote: true %></span>
  <span class='upvote_count'><%= recent.upvotes_count %></span>
  <span id="recent"><%= link_to recent.title, topic_path(recent) %></span><br>


  <span id="author"><%= time_ago_in_words(recent.created_at) %> ago &mdash; <%= recent.anonymous? ? "Anonymous" : link_to(recent.user.name, user_path(recent.user))%></span><br>
<% end %>
